:root {
  --background-color: rgba(54, 32, 2, 0.893);
  --hover-color: rgb(255, 157, 0);
  --color: rgb(255, 255, 255);
  --color-2: rgb(255, 255, 255);
}
body {
  margin: 0px;
  padding: 0px;
  background-color: var(--background-color);
  color: var(--color);
}
header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(240, 255, 255, 0.097);
  height: 80px;
  backdrop-filter: blur(10px);
  z-index: 99;
  top: 0px;
}
header h1 {
  font-size: 2.4em;
  margin-left: 30px;
}
header section {
  margin-left: 100px;
  width: 100%;
  margin-right: 40px;
  display: flex;
  justify-content: right;
  align-items: center;
}
header section a {
  text-decoration: none;
  color: var(--color);
  margin: 10px 15px;
}
header section .btn {
  padding: 10px;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.071);
  color: var(--color-2);
  border: 0px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.442);
  transition: all 0.3s ease;
}
header section .btn:hover {
  cursor: pointer;
  color: var(--hover-color);
  /* box-shadow: 1px 1px 4px var(--hover-color); */
  background: rgba(0, 0, 0, 0.716);
  transition: all 0.3s ease;
  scale: 1.05;
}
.backImage {
  position: fixed;
  z-index: -99;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  top: 0px;
  /* border: 2px solid rgb(8, 220, 223); */
}
.backImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.backImage .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.338);
}
.all {
  /* border: 2px solid rgb(8, 220, 223); */
  position: relative;
  top: 200px;
}
.list {
  text-align: center;
  margin-bottom: 50px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: capitalize;
}
.houses {
  /* border: 2px solid rgb(247, 255, 252); */
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.holder {
  height: 100%;
  /* border: 2px solid rgb(18, 122, 84); */
  display: grid;
  grid-template-columns: 400px 400px 400px;
  gap: 30px;
}
.example {
  border: 2px solid rgb(181, 145, 109);
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  z-index: 0;
  display: grid;
  grid-template-rows: 300px;
  color: rgba(255, 255, 255, 0.91);
  transition: all 0.5s ease;
}
.example:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.442);
  border: 2px solid var(--hover-color);
  color: var(--hover-color);
  scale: 1.01;
  transition: all 0.3s ease;
}
.example:hover .ppName a {
  color: var(--hover-color);
  transition: all 0.3s ease;
}
.example:hover .propImg img {
  scale: 1.03;
  transition: all 0.4s ease;
}
.propImg {
  position: relative;
  height: 100%;
  width: 100%;
}
.example img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background: rgba(0, 0, 0, 0.819);
}
.status {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  text-transform: capitalize;
}
.status .available {
  background: rgb(3, 138, 93);
  padding: 0px 8px;
  border-radius: 4px;
}
/* .status .details {
  margin-left: 10px;
  background: white;
  color: black;
  padding: 0px 10px;
  border-radius: 4px;
} */
.overlay {
  /* border: 5px solid rgb(122, 18, 18); */
  position: absolute;
  bottom: 0;
  left: 0;
  height: 37%;
  width: 100%;
}
.lowerdesc {
  top: 0px;
  left: 0px;
  position: relative;
  background: rgba(23, 11, 0, 0.681);
  backdrop-filter: blur(5px);
  height: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}
.ppName a {
  color: white;
}
.ppName {
  text-decoration: none;
  font-weight: 800;
  font-size: 1.3em;
  margin-top: 10px;
}
.location {
  margin-top: 12px;
  margin-bottom: 5px;
}
.lowerdt {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.size {
}
.price {
  position: relative;
  right: 20px;
  font-size: 1.1em;
  font-weight: bold;
}
footer {
  border-top: 1px solid rgba(240, 255, 255, 0.097);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
