:root {
  --background-color: rgba(255, 255, 255, 0.893);
  --color: rgb(0, 0, 0);
}
body {
  margin: 0px;
  padding: 0px;
  background-color: var(--background-color);
  color: var(--color);
}
header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.268);
  height: 80px;
  backdrop-filter: blur(30px);
  z-index: 99;
}
header h1 {
  font-size: 2.4em;
  margin-left: 30px;
}
header section {
  margin-left: 100px;
  width: 100%;
  margin-right: 40px;
  display: flex;
  justify-content: right;
  align-items: center;
}
header section a {
  text-decoration: none;
  color: var(--color);
  margin: 10px 15px;
}
header section .btn {
  border: 1px solid rgb(183, 203, 207);
  padding: 6px;
  border-radius: 7px;
}
.wrapper {
  /* border: 2px solid rgb(20, 220, 67); */
  position: relative;
  top: 120px;
  height: 100%;
}
.First_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid crimson; */
  margin-bottom: 60px;
}
.usernote {
  font-size: 2.1em;
  font-weight: bolder;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.549);
}
.usernote span {
  text-transform: capitalize;
}
.houseValue {
  height: 30px;
  width: 300px;
  border-radius: 10px;
  border: 0px;
  outline: none;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0.132);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.442);
}
.searchbtn {
  height: 30px;
  width: 70px;
  border: 0px;
  margin-left: 40px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.442);
}
.houses {
  /* border: 2px solid rgb(247, 255, 252); */
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.holder {
  height: 100%;
  /* border: 2px solid rgb(18, 122, 84); */
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 300px 300px 300px;
  gap: 30px;
}
.example {
  position: relative;
  /* border: 2px solid rgb(18, 122, 84); */
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.442);
  border-radius: 10px;
  overflow: hidden;
}
.propImg {
  position: relative;
  height: 100%;
  width: 100%;
}
.example img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.overlay {
  /* border: 2px solid rgb(122, 18, 18); */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.status {
  display: flex;
  align-items: center;
  padding-left: 20px;
  text-transform: capitalize;
}
.status .available {
  background: rgb(3, 138, 93);
  padding: 0px 8px;
  border-radius: 4px;
}
.status .details {
  margin-left: 10px;
  background: white;
  color: black;
  padding: 0px 10px;
  border-radius: 4px;
}
.lowerdesc {
  position: relative;
  top: 40%;
  background: rgba(255, 255, 255, 0.115);
  backdrop-filter: blur(5px);
  color: black;
  height: 240px;
  padding-left: 20px;
}
footer {
  border-top: 1px solid rgba(240, 255, 255, 0.097);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
